body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #218380;
	color: #fff;
}
ul{
	display: flex;
	list-style-type: none;
	padding-left: 20px;
	padding-bottom: 10px;
}
.last{
	position: absolute;
	right: 60px;
	top: 25px;
}
.material-symbols-outlined{
	margin-left: 10px;
	padding-top: 5px;
}
.main{
	border: 2px solid gray;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	box-shadow: 10px 10px gray;
}
.main button{
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	background-color:#218380;
	border: none
}

/* For Quiz */

.quiz-container{
	height: 250px;
	width: 400px;
	border: 2px solid gray;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	box-shadow: 10px 10px gray;
}
.options{
	display: grid;
}
.options button{
	background-color: #218380;
	margin: 5px;
	padding: 5px;
	border: none;
	color: #fff;
	border-radius: 10px;
}


